.chatrooms {

}

.create-new-room {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 32px;
	margin: 20px 0;
	padding: 20px;
	background-color: #e8e8e8;
	border-radius: 10px;
	cursor: pointer;
}